body{
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;



}
#head{
    background-position: center center;
    background-size: center;
    
    }
#imagenes{
width:60vh;
height:30vh;



}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    

    text-decoration: none;
    color: initial;
}
#atras{



}
#nuestras-delicias{
display:flex;
flex-direction: row;
justify-content:  space-between
;
align-items: stretch;
padding: 4vh;
padding-left: 20vh;
padding-right: 20vw;




}





#titulo{
background-color: aqua;
height: 50%;
width: 30%;
padding: 10px;
position: absolute;
left: 14%;  
display: flex;
flex-direction:row;
justify-content:center;
align-items:center;

}

footer {
display: block;
}





#facebooklogo{
width:5%; 
height: 5%;
position: relative;
left: 40%;
top: -7vh;


}
#colum1{
    
    
    height:50%;
    width: 13%;
    position: absolute;
    padding: 10px;
    top: 35%;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;

    
      
}
#colum2{
    background-color: rgb(131, 30, 97);
    height: 30%;
    width: 13%;
    position: absolute;
    left: 87%; 
    top:-29vh;
    padding: 10px;
     
}
h1{ text-align: center;
    font-size:7rem;
    

}
text{
    font-size: 2rem;
}

#cerrar{
    position: relative;
    left: 70%;
    top: -30vh;
    
    
    
   



}




#muestra{
background-color:aqua;
height: 150%;
width: 300%;
padding: 20%;
        
    
    position: absolute;
    top: -20vh;
    left: 180%;
    


}
