body{
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;



}
#head{
    background-position: center center;
    background-size: center;
    
    }
#imagenes{
width:60vh;
height:30vh;
}
#imagenes2{
    width:60vh;
    height:30vh;



}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    

    text-decoration: none;
    color: initial;
}
#atras{



}
#nuestras-delicias{
display:flex;
flex-direction: row;
justify-content:  space-between
;
align-items: stretch;
padding: 4vh;
padding-left: 20vh;
padding-right: 20vw;




}





#titulo{
background-color: aqua;
height: 50%;
width: 30%;
padding: 10px;
position: absolute;
left: 14%;  
display: flex;
flex-direction:row;
justify-content:center;
align-items:center;

}

footer {

position: relative;
top: -30.2vh;
left: 86.1vh;
width: 202.8vh;

}

#mapa{
position: absolute;

left: 139vh;


}



#facebooklogo{
width:5%; 
height: 5%;
position: relative;
left: 40%;
top: -7vh;


}
#colum1{
    
    
    height:50%;
    width: 13%;
    position: absolute;
    padding: 10px;
    top: 37%;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;

    
      
}
#comenta{
position: relative;
top: -41vh;


}
#colum2{
    
    
    width: 19vh;
    position: absolute;
    left: 155vh; 
    top: -6vh;
    padding: 10px;
     
}
h1{ text-align: center;
    font-size:7rem;
    

}
#text{
    font-size: 2rem;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    

    text-decoration: none;
    color: initial;
}


#cerrar{
    position: relative;
    left: 70%;
    top: -30vh;
    
    
    
   



}


h3{
color:azure;

}

#muestra{
background-color:aqua;
height: 150%;
width: 300%;
padding: 20%;
        
    
    position: absolute;
    top: -20vh;
    left: 180%;
    


}

#img{
    position: relative;
    left: 70vh;
    top: -48vh;
    width: 108vh;
    height: 80vh;
}
.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 300px + 3em);
}

.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador li:nth-child(3) .slide-circulo {
    color: #428bca;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}